* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #d9d9d9;
  overflow-x: hidden;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

.swiper-pagination-bullet-active {
  background: #8c704c !important;
}
#process .swiper-pagination-bullet-active {
  background: #FFFFFF !important;
}

@media screen and (max-width: 745px) {
  #featured-reviews-left-arrow,
  #featured-reviews-right-arrow {
    display: none;
  }
}
